
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  
  
}

.form {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  margin-left: 15%;
}

.input {
  border-radius: 8px;
  overflow: hidden;
  padding: 5px;
  margin-top: 5%;
}

.button {
  border-radius: 8px;
  overflow: hidden;
  padding: 5px;
  margin-top: 5%;
  margin-left: 25%;
}

@import url('https://fonts.googleapis.com/css2?family=Tac+One&display=swap');

.logo {
  font-family: 'Tac One';
  font-size: 8rem;
  margin-left: 27%;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}
